<section class="trad_items">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <h1 class="gintaa-title-two title-color-3">Trending Offers</h1>
                <p class="gintaa-title-sub">Trending products near you</p>
                <div class="btn_primary_link btn-more mt-25"> <a href="#">See more</a> </div>
            </div>

            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="can_get">
                    <div class="box_trading">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="box tranding-Product mt-res">
                                                    <div class="product-img primary-card-184">
                                                        <img src="assets/images/1.jpg" 
                                                        class="img-fluid rounded "
                                                            alt="pro" />
                                                        <div class="img-title">
                                                            <h3>Ford ecosport 2012</h3>
                                                            <div class="product_des get-short">
                                                                <span class="price">Lorem</span>
                                                                <span class="location">saltlake kol...</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="box tranding-Product mt-res">
                                                    <div class="product-img primary-card-184">
                                                        <img src="assets/images/2.jpg" 
                                                        class="img-fluid rounded "
                                                            alt="pro" />
                                                        <div class="img-title">
                                                            <h3>Ford ecosport 2012</h3>
                                                            <div class="product_des get-short">
                                                                <span class="price">Lorem</span>
                                                                <span class="location">saltlake kol...</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box tranding-Product mt-g mt-res">
                                            <div class="product-img primary-card-400">
                                                <img src="assets/images/3.jpg" 
                                                class="img-fluid rounded "
                                                    alt="pro" />
                                                <div class="img-title">
                                                    <h3>Ford ecosport 2012</h3>
                                                    <div class="product_des">
                                                        <span class="price">Lorem</span>
                                                        <span class="location">saltlake kol...</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box tranding-Product mt-res">
                                            <div class="product-img primary-card-400">
                                                <img src="assets/images/4.jpg" 
                                                class="img-fluid rounded "
                                                    alt="pro" />
                                                <div class="img-title">
                                                    <h3>Ford ecosport 2012</h3>
                                                    <div class="product_des">
                                                        <span class="price">Lorem</span>
                                                        <span class="location">saltlake kol...</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="box tranding-Product mt-g mt-res">
                                                    <div class="product-img primary-card-184">
                                                        <img src="assets/images/5.jpg" 
                                                        class="img-fluid rounded "
                                                            alt="pro" />
                                                        <div class="img-title">
                                                            <h3>Ford ecosport 2012</h3>
                                                            <div class="product_des get-short">
                                                                <span class="price">Lorem</span>
                                                                <span class="location">saltlake kol...</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="box tranding-Product mt-g mt-res">
                                                    <div class="product-img primary-card-184">
                                                        <img src="assets/images/6.jpg" 
                                                        class="img-fluid rounded "
                                                            alt="pro" />
                                                        <div class="img-title">
                                                            <h3>Ford ecosport 2012</h3>
                                                            <div class="product_des get-short">
                                                                <span class="price">Lorem</span>
                                                                <span class="location">saltlake kol...</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>