.match-titles{
    color: #010101;
    font-size: 1.125em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2.375em;
}

.viewer-others-offers{
    border-bottom: 0.063em solid #ccc;
    margin-bottom: 1.563em;
    float: left;
    width: 100%;
}