<section class="head_up login-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12 order-md-1 order-sm-2 order-2">
                <app-userappstore></app-userappstore>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12 order-md-2 order-sm-1 order-1">
                <div class="head_profile">
                    <div class="login-start-top">
                        <h2 class="login-title">hello</h2>
                        <p class="login-prar">Let’s get started with…</p>
                    </div>

                    <div class="login-form">
                        <form #userForm="ngForm" class="login-start">
                            <div class="form_group">                                
                                    <input type="text" class="form-control-custom" [(ngModel)]="userInfo.mblNo"
                                        placeholder="Email or Phone" pattern="^\d{10}$" maxLength="10" inputmode="numeric"
                                        #mblNo="ngModel" numbersOnly name="mblNo" (keyup)="onKeyupEvent($event)"
                                        (keypress)="keyPress($event)" required />
                                
                            </div>
                            <div id="recaptcha-container"></div>
                            <button type="submit" trackOn="click" [disabled]="!userForm.form.valid" value="Submit"
                                class="btn btn_primary btn-started" (click)="getOtp()">
                                Get started
                            </button>
                            <div style="color: red;">{{loggedInErrorMsg}}</div>
                        </form>


                        <div class="social_login">
                            <h2 class="social-auth">or sign in with</h2>
                            <div class="social-login-row">
                                <button type="submit" class="btn_primary_social or-btn gmr-14"
                                    (click)="signInWithGoogle()">
                                    <i class="fa fa-google"></i> Google
                                </button>
                                <button type="submit" class="btn_primary_social or-btn"
                                    (click)="signInWithFacebook()">
                                    <i class="fa fa-facebook"></i> Facebook
                                </button>
                            </div>
                            <h4 class="auth-term">by joining you agree to our <a href="#">terms &
                                    policy</a> </h4>
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
</section>   









 