.live_offers {
	
    padding: 0em;
    // background-color: #ffffff;
    // background-image: url(/assets/images/offer-right-success-right-bg.png);
    // background-repeat: repeat-x;
    // background-position: top right;
    // background-origin: border-box;
    margin-bottom: 6.25em;
    margin-top: 2.5em;
}
.success_top {
    background-image: url(/assets/images/offer-right-shw-bg.png);
    background-repeat: no-repeat;
    background-position: 28% 8%;
    background-color: #fff;
    background-origin: border-box;
    background-size: 105% 102%;
    padding-right: 0em;
    float: left;
    width: 39.063em;
}
.pot_match {
    margin-top:0em;
    padding-left: 0em;
    float: left;
    width: 100%;
}

.test-hg{
    max-width: 3.25em;
}

.fixed-position {
    position: fixed;
}

.sticky-position {
    position: sticky;
    left: 50%;
}

.match-arrow, .match-man {
	position: absolute;
    right: 0em;
    margin-top: 8em;
    margin-right: 0.75em;
}






