<div class="row">
     <div class="col-lg-12 col-md-12 col-sm-12">
          <!-- <div class="primary-offers-list ">                      
               <div class="offer_left">
                    <div class="offer_name">Receive offer : <span>Anup Ghoshal</span></div>
                    <div class="offer_des">I like your cycle. I have a MI 10000mha Powerbank... </div>
               </div>
               <div class="offer_right">
                 <div class="img_atch"><i class="material-icons">attachment</i> 2 images</div>  
                 <div class="offer_date">12/02/2020</div>
                 <div class="offer_chat"><a href="#">Chat <span></span></a></div>
               </div>
          </div>             -->
     </div>  
 
     
 </div>
 