<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
         <div class="primary-deal-box border_box">                      
              <div class="deal_left">
                   <div class="deal_name">Closed Deal : <span>Anup Ghoshal</span></div>
                   <div class="deal_date">12/10/2020</div>
              </div>
              <div class="deal_right">
                <div class="deal_call">Call Anup <span>7980411960</span></div>
                <div class="deal_chat"><a href="#">Chat</a></div>
              </div>
         </div>            
    </div>  
</div>
