<div class="call-list-wrapper">
    <div class="remove-callsel-page">
        <span class="material-icons">close</span>
    </div>

    <div class="call-list-main">
        <div class="call-select-width">
            <div class="callsel-title">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="title-call-custom">
                            <h2>talk</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="call-user-listing">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="listing-user">
                            <ul>
                                <li>
                                    <div class="list-users-owner">
                                        <div class="deals-owner-listuser listing-user-bg listing-user-border">
                                            <div class="online"></div>
                                            <!-- <div class="offline"></div> -->
                                            <img src="assets/images/sm-dp.jpg" alt="images" class="user-img img-fluid ">
                                        </div>
                                        <div class="makes-list-owner">
                                            <h2>Sofikul is Online call now</h2>
                                        </div>
                                    </div>

                                    <div class="listing-icons">
                                        
                                        <div class="chat-video-call-listing">
                                            <!-- <div class="vcall-on"><span class="material-icons">video_call</span></div> -->
                                            <div class="vcall-off"><span class="material-icons">video_call</span></div> 
                                          </div>

                                          <div class="chat-audio-call-listing">
                                            <div class="call-on"><span class="material-icons">call</span></div>
                                            <!-- <div class="call-off"><span class="material-icons">call</span></div>  -->
                                        </div>   
                                    </div>

                                </li>
                                <li>
                                    <div class="list-users-owner">
                                        <div class="deals-owner-listuser listing-user-bg listing-user-border">
                                            <div class="online"></div>
                                            <!-- <div class="offline"></div> -->
                                            <img src="assets/images/sm-dp.jpg" alt="images" class="user-img img-fluid ">
                                        </div>
                                        <div class="makes-list-owner">
                                            <h2>Sofikul is Online call now</h2>
                                        </div>
                                    </div>

                                    <div class="listing-icons">
                                        
                                        <div class="chat-video-call-listing">
                                            <!-- <div class="vcall-on"><span class="material-icons">video_call</span></div> -->
                                            <div class="vcall-off"><span class="material-icons">video_call</span></div> 
                                          </div>

                                          <div class="chat-audio-call-listing">
                                            <!-- <div class="call-on"><span class="material-icons">call</span></div> -->
                                            <div class="call-off"><span class="material-icons">call</span></div> 
                                        </div>   
                                    </div>

                                </li>
                                <li>
                                    <div class="list-users-owner">
                                        <div class="deals-owner-listuser listing-user-bg listing-user-border">
                                            <div class="online"></div>
                                            <!-- <div class="offline"></div> -->
                                            <img src="assets/images/sm-dp.jpg" alt="images" class="user-img img-fluid ">
                                        </div>
                                        <div class="makes-list-owner">
                                            <h2>Sofikul is Online call now</h2>
                                        </div>
                                    </div>

                                    <div class="listing-icons">
                                        
                                        <div class="chat-video-call-listing">
                                            <!-- <div class="vcall-on"><span class="material-icons">video_call</span></div> -->
                                            <div class="vcall-off"><span class="material-icons">video_call</span></div> 
                                          </div>

                                          <div class="chat-audio-call-listing">
                                            <!-- <div class="call-on"><span class="material-icons">call</span></div> -->
                                            <div class="call-off"><span class="material-icons">call</span></div> 
                                        </div>   
                                    </div>

                                </li>
                                <li>
                                    <div class="list-users-owner">
                                        <div class="deals-owner-listuser listing-user-bg listing-user-border">
                                            <div class="online"></div>
                                            <!-- <div class="offline"></div> -->
                                            <img src="assets/images/sm-dp.jpg" alt="images" class="user-img img-fluid ">
                                        </div>
                                        <div class="makes-list-owner">
                                            <h2>Sofikul is Online call now</h2>
                                        </div>
                                    </div>

                                    <div class="listing-icons">
                                        
                                        <div class="chat-video-call-listing">
                                            <!-- <div class="vcall-on"><span class="material-icons">video_call</span></div> -->
                                            <div class="vcall-off"><span class="material-icons">video_call</span></div> 
                                          </div>

                                          <div class="chat-audio-call-listing">
                                            <!-- <div class="call-on"><span class="material-icons">call</span></div> -->
                                            <div class="call-off"><span class="material-icons">call</span></div> 
                                        </div>   
                                    </div>

                                </li>
                                <li>
                                    <div class="list-users-owner">
                                        <div class="deals-owner-listuser listing-user-bg listing-user-border">
                                            <div class="online"></div>
                                            <!-- <div class="offline"></div> -->
                                            <img src="assets/images/sm-dp.jpg" alt="images" class="user-img img-fluid ">
                                        </div>
                                        <div class="makes-list-owner">
                                            <h2>Sofikul is Online call now</h2>
                                        </div>
                                    </div>

                                    <div class="listing-icons">
                                        
                                        <div class="chat-video-call-listing">
                                            <!-- <div class="vcall-on"><span class="material-icons">video_call</span></div> -->
                                            <div class="vcall-off"><span class="material-icons">video_call</span></div> 
                                          </div>

                                          <div class="chat-audio-call-listing">
                                            <!-- <div class="call-on"><span class="material-icons">call</span></div> -->
                                            <div class="call-off"><span class="material-icons">call</span></div> 
                                        </div>   
                                    </div>

                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>



        </div>



































        <!-- <div class="audio-bottom">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="audio-list-main">
                     <div class="audio-icon-list">
                         <ul>
                             <li>
                                <div class="chat-call-end">
                                    <div class="call-start"><span class="material-icons">call</span></div>
                                    <div class="call-end"><span class="material-icons">call_end</span></div> 
                                  </div>
                             </li>
                             <li>
                                <div class="video-call-end">
                                    <div class="vcall-on"><span class="material-icons">videocam</span></div>
                                    <div class="vcall-off"><span class="material-icons">videocam_off</span></div> 
                                  </div>
                             </li>
                                                         
                         </ul>
                              
                     </div>
                     </div>        
                </div>  
            </div>
         </div> -->






    </div>





</div>