.your_match {
	padding: 3.750em 0em 3.125em 0em;
    background-color: #f6f6f6;
    float: left;
    width: 100%;
}
.can_gets {
	font-size: 1.875em;
	font-weight: bold;
	text-transform: uppercase;
	color: #7700e0;
	padding: 0em 0em 2.5em 0.313em;
}
.trad_items {
	.product-img {
		max-height: inherit;
		min-height: 11.750em;
	}
}

