<section class="page-not-found">

 <div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="page-not-img">
                <div class="page-not-img-1">
                <img src="assets/images/page-not-1.png" alt="image" />
                 </div>
                 <div class="page-not-img-1">
                <img src="assets/images/page-not-2.png" alt="image" />
            </div>
            </div>                    
        </div>  
     </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
             <div class="we-find">
                We couldn't find any matches in forest!
             </div>        
        </div>  
   </div>
   
   <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
         <div class="whoops-text">
            Whoops!! its a 404. <span> Please check the spelling or try searching something else</span>
         </div>        
    </div>  
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
         <div class="go-home" (click)="redirect()">
            Go to home page
         </div>        
    </div>  
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
         <div class="go-city">
             <ul>
                 <li>Go to city</li>
                 <li>Delhi<span>&#47;</span></li>
                 <li>Kolkata<span>&#47;</span></li>
                 <li>Mumbai<span>&#47;</span></li>
                 <li>Chennai<span>&#47;</span></li>
                 <li>Pune<span>&#47;</span></li>
                 <li>Bangalore<span>&#47;</span></li>
                 <li>Hyderabad</li>
             </ul>
                  
         </div>        
    </div>  
</div>
    
</div>

</section>