.g-blue{color: #507cc0;}
.g-red{color: #df4930;}
.g-danger{color: #f40046;}


.g-indigo{color: #6610f2;}
.g-purple{color: #6f42c1;}
.g-orange{color: #fd7e14;}
.g-yellow{color: #ffc107;}
.g-green{color: #28a745;}
.g-teal{color: #20c997;}
.g-cyan{color: #17a2b8;}
.g-white{color: #fff;}
.g-gray{color: #6c757d;}
.g-primary{color: #007bff;}
.g-secondary{color: #6c757d;}
.g-success{color: #28a745;}
.g-info{color: #17a2b8;}
.g-warning{color: #ffc107;}
.g-light{color: #f8f9fa;}
.g-dark{color: #343a40;}


