
$primary-color: #0b2239;
$primary-green: #50c878;
$primary-white: #ffffff;

$title: #0b2239;
$title-subs:#000000;
$secondary-color: #333; 
$secondary-blue: #507cc0;
$secondary-red: #ef3e36;
$secondary-yellow:#fbcf00;
$secondary-gray:#c7c7c7;
$secondary-light:#cccccc;
$secondary-dark:#777;

$social-red:#ef3e36;
$social-info:#2696cf;
$social-indigo:#6081c3;

$btn-border:#010101;
$txt-sml-12: 0.75em;
$txt-xs-13: 0.813em;
$txt-sm-14: 0.875em;
$txt-base-size: 1em;
$txt-md-18: 1.125em;
$txt-lg-24: 1.5em;
$txt-xl-36: 2.25em;

$open-sans:'Open Sans', sans-serif;
$mont:'Montserrat', sans-serif;
$roboto: 'Roboto';

$txt-light:300;
$txt-regular: 400;
$txt-medium: 500;
$txt-semi-bold: 600;
$txt-bold: 700;

$txt-decoration:none;
$txt-underline:underline;

$txt-capitalize:capitalize;
$txt-upper:uppercase;
$txt-lower:lowercase;
$txt-none:none;

$txt-center:center;
$txt-left:left;
$txt-right:right; 
$vertical-align:middle;
$white-space:nowrap;
$txt-display:swap;
$txt-style:normal;
$txt-bold:bold;
$txt-italic:italic;

$float-left:$txt-left;
$float-right:$txt-right;
$float-none:none;

$display-none:none;
$display-block:block;
$display-inline:inline-block;
$display-flex:flex;
$display-inline-flex: inline-flex;
$display-inherit:inherit;

$radius:0.438em;
$radius-zero:0em;
$border:none;
$border-top-none:none;
$border-right-none:none;
$border-left-none:none;
$border-bottom-none:none;
$outline:none;

$primary-width:100%;
$promary-height:auto;
$secondary-width:auto;
$secondary-height:100%;

$margin-zero:0em;
$padding-zero:0em;

$overflow-hidden:hidden;
$overflow-auto: auto;
$overflow-inherit: inherit;
$overflow-overlay: overlay;
$overflow-scroll: scroll;
$overflow-visible: visible;

$position-absolute:absolute;
$position-fixed:fixed;
$position-relative:relative;
$position-sticky:sticky;

$primary-cursor:pointer;
$list-style:none;
$box-shadow:none;
$bg-none: transparent;
$primary-margin:0em;
$primary-padding:0em;

$vertical-align-baseline: baseline;
$vertical-align-bottom: bottom;
$vertical-align-inherit: inherit;
$vertical-align-initial: initial;
$vertical-align-middle: middle;
$vertical-align-revert: revert;
$vertical-align-sub: sub;
$vertical-align-super: super;
$vertical-align-txtbottom: text-bottom;
$vertical-align-txtop: text-top;
$vertical-align-top: top;
$vertical-align-unset: unset;
$vertical-align-webkit-middle: -webkit-baseline-middle;


$margin-zero: 0em;
$margin-top-zero: 0em;
$margin-right-zero: 0em;
$margin-bottom-zero: 0em;
$margin-left-zero: 0em;
$margin-auto: auto;

$padding-zero: 0em;
$padding-top-zero: 0em;
$padding-right-zero: 0em;
$padding-bottom-zero: 0em;
$padding-left-zero: 0em;
$padding-auto: auto;

