<div *ngIf="medialist.length == 0; else imageList">
  <img
    class="img_resize img-fluid"
    src="assets/images/no-image-available.png"
    alt="No Image Available"
  />
</div>
<ng-template #imageList>
<div id="slider" class="slider-height" *ngIf="isBrowser">
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div
        class="carousel-item"
        [ngClass]="{ active: i == 0 }"
        data-slide-number="i"
        *ngFor="let media of medialist; let i = index"
      >
        <img
          class="img_resize img-fluid"
          *ngIf="media.type === 'image'"
          [src]="media.url"
          alt="First slide"
        />
        <ng-template [ngIf]="media.type === 'video'">
          <!-- <vg-player *ngIf="media?.url">
            <video [vgMedia]="myMedia" #myMedia id="singleVideo" preload="auto" controls>
              <source [src]="media?.url" />
            </video>
          </vg-player> -->
          <mat-video *ngIf="media?.url" #video [src]="media?.url">
            <source matVideoSource [src]="media?.url"> 
         </mat-video>
        </ng-template>
      </div>
      <a
        *ngIf="medialist && medialist.length > 1"
        class="carousel-control-prev"
        href="#myCarousel"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        *ngIf="medialist && medialist.length > 1"
        class="carousel-control-next"
        href="#myCarousel"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <ul class="carousel-indicators list-inline custom-indicators">
      <li
        class="list-inline-item"
        [ngClass]="{ active: i == 0 }"
        *ngFor="let media of medialist; let i = index"
      >
        <a
          id="carousel-selector-{{ i }}"
          [ngClass]="{ selected: i == 0 }"
          data-slide-to="i"
          data-target="#myCarousel"
        >
          <img
            *ngIf="media.type === 'image'"
            [alt]="media.url"
            [src]="media.url"
            class="img-fluid-custom"
          />
          <!-- <vg-player *ngIf="media?.url">
            <video
              [vgMedia]="myMedia"
              #myMedia
              id="singleVideo"
              preload="none"
              controls
            >
              <source [src]="media?.url" />
            </video>
          </vg-player> -->
          <ng-template [ngIf]="media.type === 'video'">
            <mat-video *ngIf="media?.url" #video [src]="media?.url">
              <source matVideoSource [src]="media?.url"> 
            </mat-video>
          </ng-template>
        </a>
      </li>
    </ul>
  </div>
</div>
</ng-template>
