<section class="head_up gintaa-bg-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <app-userappstore></app-userappstore>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="head_profile">
                    <div class="login-start-top">
                        <h2 class="login-title">heads up!</h2>
                        <p class="login-prar mt-10">Certain permissions are needed. Here’s what & why. </p>
                    </div>

                    <div class="headsup-description">
                         <div class="des-primary">
                              <h2>1. Your profile information: </h2>
                              <h6>to create your profile in the system.
                                  <span>we do not share your profile information with third party.</span> 
                              </h6>
                         </div>

                         <div class="des-secondary">
                            <h2>2. Posting on your behalf:</h2>
                            <h6>in some cases if you want to share your offerings in social media you can do it from the app easily.
                                <span>we will never post on your behalf automatically</span> 
                            </h6>
                       </div>

                    </div>

                    <div class="login-form mt-36">

                        <form #userForm="ngForm" class="login-start">
                            <button type="submit" value="Submit"
                                class="btn btn_primary_nicon btn_primary g_width font-s18">
                                Next
                            </button>
                        </form>


                        <div class="social_login">
                            <h2 class="social-auth ptb-c">or sign in with</h2>
                            <div class="social-login-row plr-48">
                                <button type="submit" class="btn_primary_social or-btn gmr-14">
                                    <i class="fa fa-mobile"></i> Mobile
                                </button>
                                <button type="submit" class="btn_primary_social or-btn">
                                    <i class="fa fa-envelope-o"></i> Email
                                </button>
                            </div>
                            <h4 class="auth-term mt-34">by joining you agree to our <a href="#">terms &
                                    policy</a> </h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section> 