<div id="anifrone">
    <div class="anifr_body">
        <!-- Frame 01 Start -->
        <div class="s1 s1Exit">
            <div class="anifrone_img"><img src="assets/images/publishing-offer/frame01/imgCard.svg" alt="image"></div>
            <div class="anifrone_sbar"><img src="assets/images/publishing-offer/frame01/scanBar.svg" alt="image"></div>
            <div class="action1-info action1-info-exit textstyle">
                <p>Preparing your offer</p>
            </div>
        </div>
        <!-- Frame 01 End -->
        
        <!-- Frame 02 Start -->
        <div class="s2 s2sup">
            <div class="s2exit">
                <div class="s2flip">
                    <div class="anifrtwo_cardmain"><img src="assets/images/publishing-offer/frame02/cardMain.svg" alt="image"></div>
                    <div class="anifrtwo_img"><img src="assets/images/publishing-offer/frame02/CardImage.svg" alt="image"></div>
                    <div class="anifrtwo_textview"><img src="assets/images/publishing-offer/frame02/textView.svg" alt="image"></div> 
                    <div class="action2-info action2-info-exit textstyle">
                        <p>Creating your offer card</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Frame 02 End -->

        <!-- Frame 03 Start -->
        <div class="s3">
            <div class="anifrthree_fb"><img src="assets/images/publishing-offer/frame03/facebook.svg" alt="image"></div>
            <div class="anifrthree_tw"><img src="assets/images/publishing-offer/frame03/twitter.svg" alt="image"></div>
            <div class="anifrthree_wh"><img src="assets/images/publishing-offer/frame03/whatsapp.svg" alt="image"></div> 
            <div class="anifrthree_ml"><img src="assets/images/publishing-offer/frame03/mail_outline-24px.svg" alt="image"></div> 
            <div class="anifrthree_pt"><img src="assets/images/publishing-offer/frame03/pinterest.svg" alt="image"></div> 
            <div class="action3-info action3-info-exit textstyle">
                <p>Creating social media links</p>
            </div>
        </div>
        <!-- Frame 03 End -->

        <!-- Frame 04 Start -->
        <div class="s4">
            <div class="anifrfour_tag1"><img src="assets/images/publishing-offer/frame04/tag01.svg" alt="image"></div>
            <div class="anifrfour_tag2"><img src="assets/images/publishing-offer/frame04/tag02.svg" alt="image"></div>
            <div class="anifrfour_mtag"><img src="assets/images/publishing-offer/frame04/manageTag.svg" alt="image"></div>
            <div class="anifrfour_tag3"><img src="assets/images/publishing-offer/frame04/tag03.svg" alt="image"></div>
            <div class="anifrfour_tag4"><img src="assets/images/publishing-offer/frame04/tag04.svg" alt="image"></div>
            <div class="action4-info action4-info-exit textstyle">
                <p>Distributing offer assets</p>
            </div>
        </div>
        <!-- Frame 04 End -->

        <!-- Frame 05 Start -->
        <div class="s5">
            <div class="anifrfive_exng"><img src="assets/images/publishing-offer/frame05/exchange.svg" alt="image"></div>
            <div class="anifrfour_smcard"><img src="assets/images/publishing-offer/frame05/offerCardSmall.svg" alt="image"></div>
            <div class="action5-info action5-info-exit textstyle">
                <p>Looking for potential match</p>
            </div>
        </div>
        <!-- Frame 05 End -->

        <!-- Frame 06 Start -->
        <div class="s6 custom-padding">
            <div class="anifrsix_tower">
                <img class="wave1" src="assets/images/publishing-offer/frame06/towerWave1.svg" alt="image">
                <img class="wave2" src="assets/images/publishing-offer/frame06/towerWave2.svg" alt="image">
                <img class="tower" src="assets/images/publishing-offer/frame06/tower.svg" alt="image">
            </div>
            
            <div class="action6-info textstyle">
                <p>Publishing your offer</p>
            </div>
        </div>
        <!-- Frame 06 End -->         
    </div>
</div>



<script type="text/javascript">
$(document).ready(function(){
    $(".anifrsix_tower").delay(50500).queue(function(next) {
        $(this).addClass("anifrsix_tower-exit");
        next();
    });
});
$(document).ready(function(){
    $(".action6-info").delay(50000).queue(function(next) {
        $(this).addClass("action6-info-exit");
        next();
    });
});    
</script>