<div class="suggest-item-row">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
             <div class="suggested-title">
                  <h4>Suggested match items/services</h4>
             </div>        
        </div>  
   </div>
 </div>

<div class="suggestes-item">
<div class="row">    

    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="pre_next">
        <a class="arrow_left" (click)="owlCar.prev()"><i class="material-icons">keyboard_arrow_left</i></a>
        <a class="arrow_right" (click)="owlCar.next()"><i class="material-icons">keyboard_arrow_right</i></a>
      </div>
      <owl-carousel-o [options]="customOptions" (translated)="getPassedData($event)" #owlCar>
        <ng-template carouselSlide >
          <div class="can_get crl-card">
            <div class="single-Product">
                <div class="product-img primary-card-155">
                    <img src="assets/images/1.jpg" class="rounded img-fluid " alt="product img" />
                    <div class="img-title">
                        <h2>Timex Watch 2year old</h2>
                        <h4>I want a cycle or java tutorial</h4>
                    </div>
                    <div class="checkbox-container">
                        <span class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="checkbox-1"/>
                            <label for="checkbox-1"></label>
                        </span>                            
                    </div>
                </div>
            </div>
        </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="can_get crl-card">
                <div class="single-Product">
                    <div class="product-img primary-card-155">
                        <img src="assets/images/2.jpg" class="rounded img-fluid " alt="product img" />
                        <div class="img-title">
                            <h2>Timex Watch 2year old</h2>
                            <h4>I want a cycle or java tutorial</h4>
                        </div>
                        <div class="checkbox-container">
                            <span class="checkbox">
                                <input class="checkbox__input" type="checkbox" id="checkbox-2"/>
                                <label for="checkbox-2"></label>
                            </span>                            
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="can_get crl-card">
                <div class="single-Product">
                    <div class="product-img primary-card-155">
                        <img src="assets/images/3.jpg" class="rounded img-fluid " alt="product img" />
                        <div class="img-title">
                            <h2>Timex Watch 2year old</h2>
                            <h4>I want a cycle or java tutorial</h4>
                        </div>
                        <div class="checkbox-container">
                            <span class="checkbox">
                                <input class="checkbox__input" type="checkbox" id="checkbox-3"/>
                                <label for="checkbox-3"></label>
                            </span>                            
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="can_get crl-card">
                <div class="single-Product">
                    <div class="product-img primary-card-155">
                        <img src="assets/images/4.jpg" class="rounded img-fluid " alt="product img" />
                        <div class="img-title">
                            <h2>Timex Watch 2year old</h2>
                            <h4>I want a cycle or java tutorial</h4>
                        </div>
                        <div class="checkbox-container">
                            <span class="checkbox">
                                <input class="checkbox__input" type="checkbox" id="checkbox-4"/>
                                <label for="checkbox-4"></label>
                            </span>                            
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="can_get crl-card">
                <div class="single-Product">
                    <div class="product-img primary-card-155">
                        <img src="assets/images/5.jpg" class="rounded img-fluid " alt="product img" />
                        <div class="img-title">
                            <h2>Timex Watch 2year old</h2>
                            <h4>I want a cycle or java tutorial</h4>
                        </div>
                        <div class="checkbox-container">
                            <span class="checkbox">
                                <input class="checkbox__input" type="checkbox" id="checkbox-5"/>
                                <label for="checkbox-5"></label>
                            </span>                            
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="can_get crl-card">
                <div class="single-Product">
                    <div class="product-img primary-card-155">
                        <img src="assets/images/6.jpg" class="rounded img-fluid " alt="product img" />
                        <div class="img-title">
                            <h2>Timex Watch 2year old</h2>
                            <h4>I want a cycle or java tutorial</h4>
                        </div>
                        <div class="checkbox-container">
                            <span class="checkbox">
                                <input class="checkbox__input" type="checkbox" id="checkbox-6"/>
                                <label for="checkbox-6"></label>
                            </span>                            
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="can_get crl-card">
                <div class="single-Product">
                    <div class="product-img primary-card-155">
                        <img src="assets/images/7.jpg" class="rounded img-fluid " alt="product img" />
                        <div class="img-title">
                            <h2>Timex Watch 2year old</h2>
                            <h4>I want a cycle or java tutorial</h4>
                        </div>
                        <div class="checkbox-container">
                            <span class="checkbox">
                                <input class="checkbox__input" type="checkbox" id="checkbox-7"/>
                                <label for="checkbox-7"></label>
                            </span>                            
                        </div>
                    </div>
                </div>
            </div>
          </ng-template>
      </owl-carousel-o>

    </div>

  </div>

</div>