<ng-container *ngIf="!footerMeta.hideFooter">
    <section class="footer" role="contentinfo">
      <div class="footer-top">
        <div class="container">
         
        <div class="tips-title-row">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <h2 class="gintaa-title-two title-color-cus">5 Tips to help you get the best deal</h2>
            </div>
          </div>
        </div>
        
        <div class="des-row">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <ul class="our_tips">
                <li>1. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</li>
                <li>2. But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
                  and I will give you a complete account of the system</li>
                <li>3. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain
                </li>
                <li>4. To take a trivial example, which of us ever undertakes laborious physical exercise,</li>
                <li>5. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua.</li>
              </ul>
            </div>
          </div>
        </div> 
        
        <div class="see-more-row">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="see-more-tips"> <a href="#">See more tips</a> </div>
            </div>
          </div>
        </div>
        
        <div class="hr-line-row">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <hr class="g-hr" />
            </div>
          </div>
        </div>  

          <div class="nav-list-row">
            <div class="location-row">
              <div class="footer_nav">
                <h3 class="gintaa-title-three title-color-4 g-mb-f">Popular Location </h3>
                <ul class="gintaa-ftrlink">
                  <li><a href="#">Kolkata</a></li>
                  <li><a href="#">Mumbai</a></li>
                  <li><a href="#">Chennai</a></li>
                  <li><a href="#">Pune</a></li>
                </ul>
              </div>
            </div>
            <div class="menu-list-row">
              <div class="footer_nav">
                <h3 class="gintaa-title-three title-color-4 g-mb-f">About us</h3>
                <ul class="gintaa-ftrlink">
                  <li><a href="#">About Gintaa</a></li>
                  <li><a href="#">Why Gintaa</a></li>
                  <li><a href="#">How it works</a></li>
                  <li><a href="#">FAQ</a></li>
                </ul>
              </div>
            </div>

            <div class="site-map-row">
              <div class="footer_nav">
                <h3 class="gintaa-title-three title-color-4 g-mb-f">Gintaa</h3>
                <ul class="gintaa-ftrlink">
                  <li><a href="#">Site Map</a></li>
                  <li><a href="#">Support</a></li>
                  <li><a href="#">Legal & Privacy information</a></li>
                </ul>
              </div>
            </div>


            <div class="download-app-row">
              <div class="download_icons">
                <h3><img src="assets/images/download-1.png" alt="download" /></h3>
                <ul class="our_apps">
                  <li>Download</li>
                  <li>our app</li>
                </ul>

              </div>
              <div class="app_link">
                <ul class="nav d-flex">
                  <li class="nav-item"><a href="#" aria-label="Download app from app store"><img src="assets/images/app-store.png" alt="images" /></a></li>
                  <li class="nav-item"><a href="#" aria-label="Download app from google play store"><img src="assets/images/google-play.png" alt="images" /></a></li>
                </ul>
              </div>
            </div>
            <div class="mobile-app-row">
              <div class="app_mobiles">
                <img src="assets/images/mobile-app.png" alt="mobile app" />
              </div>
            </div>
          </div>
        
        <div class="hr-row-line">  
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <hr class="g-hr custom-hr" />
            </div>
          </div>
        </div>

          <div class="footer_bottom">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="footer_logo"><img src="assets/images/g-icon.png" alt="images" />
                  <p class="copy_right">&copy; 2020 Gintaa. All rights reserved. Powered by <a href="#">Asconsoftech</a></p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="social_link">
                  <ul>
                    <li>
                      <a href="#" aria-label="Follow on facebook">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li> <a href="#" aria-label="Follow on twiter"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                    <li> <a href="#" aria-label="Follow on instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a> </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>

    </section>
</ng-container>