<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="email-logo">
                <a href="#"><img src="assets/images/logo/Gintaa-logo.svg" alt="Gintaa" /></a>
            </div>                    
        </div>  
     </div>


     <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="verified-image">
                 <img src="assets/images/email-ver.png" alt="Gintaa" />  
            </div>       
        </div>  
   </div>

   <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">        
        <div class="email-title">
            <div class="img-ver"> <img src="assets/images/e-mail.png" alt="Gintaa" /> </div>
            <div class="title-img">Email verified</div>
        </div>
     </div>  
    </div> 

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
             <div class="email-text">
                  Now you can recevie your notification and offer updates in email
             </div>        
        </div>  
   </div>
   
   <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="offer-account">
            <button class="btn_primary" type="submit" [routerLink]="['/add-new-offer']">Post a new offer</button>
            <button class="btn-primary-text" type="button" [routerLink]="['/profile']">My account</button> 
        </div>   
     </div>  
   </div> 
    
</div>