<div class="deal_details_box">


<div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12">   
    <div class="secondary-deal-box ">                      
        <div class="deal_left">
             <div class="deal_name">Sent Deal : <span>Surajit Das</span></div>
             <div class="deal_date">12/10/2020</div>
        </div>
        <div class="deal_right">
          <div class="deal_call">Deal Value . <span>8500</span></div>
          <div class="deal_chat"><a href="#">Chat</a></div>
        </div>
   </div>
</div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12"> 
         <div class="deal_details">
            <div class="deal_give">
                <app-deal-give></app-deal-give>
            </div>

            <div class="arrow_alt">
                <i class="material-icons">sync_alt</i>
            </div>


            <div class="deal_give">
                <app-deal-take></app-deal-take>
            </div>
            
            <div class="deal_note">
                 <div class="give_note">
                     give <span>Embark by CYCLE Kids Bike</span>
                 </div>
                 <div class="take_note">
                     take <span>Mi note 7 pro, 48mega pixel +  Rs.1000</span>
                 </div>
            </div>

          </div>
   </div>
</div>   
   

</div>    
