<div class="chat-video-wrapper">
    <div class="remove-video-page">
        <span class="material-icons">fullscreen_exit</span>
    </div>
     
    <div class="video-main">
         <div class="video-top">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="video-user">
                        <div class="video-user-img">
                             <img src="assets/images/sm-dp.jpg" alt="image" />
                         </div>
                         <div class="video-user-name">
                              <h2>Talking with sofikul</h2>  
                         </div>  
                         <div class="user-video-time">
                            <h4>04:50</h4>  
                        </div>                     
                    </div>                    
                </div>  
             </div>  
         </div>

         <div class="video-bottom">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="audio-list-main">
                         <div class="video-call-user">
                              <img src="assets/images/video-user.png" alt="image"/>
                         </div>   
                     <div class="video-icon-list">
                         <ul>
                             <li>
                                 <div class="video-outline">
                                    <div class="chat-bubble"><span class="material-icons">chat_bubble_outline</span></div>
                                 </div>
                             </li>
                             <li>
                                <div class="chat-audio-calls">
                                    <div class="audio-on"><span class="material-icons"> mic</span></div>
                                    <!-- <div class="audio-off"><span class="material-icons">mic_off</span></div> -->
                                </div>
                             </li>
                             <li>
                                <div class="chat-call-ends">
                                    <div class="call-start"><span class="material-icons">call</span></div>
                                    <!-- <div class="call-end"><span class="material-icons">call_end</span></div> -->
                                  </div>
                             </li>
                             <li>
                                <div class="video-call-ends">
                                    <div class="vcall-on"><span class="material-icons">videocam</span></div>
                                    <!-- <div class="vcall-off"><span class="material-icons">videocam_off</span></div> -->
                                  </div>
                             </li>
                             <li>
                                 <div class="video-deal">
                                     <div class="deal-hand-icon"><img src="assets/images/audio-hand.png" class="img-fluid" alt="image" /></div>
                                 </div>
                             </li>                             
                         </ul>
                              
                     </div>
                     </div>        
                </div>  
            </div>
         </div>


    </div>   

</div>    
    




