<section class="home_category">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2 class="gintaa-title-two mb-g-d">Popular Category</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <ul class="item nav">
                    <li class="nav-item"><a href="#">Used car</a></li>
                    <li class="nav-item"><a href="#">Motorcycles</a></li>
                    <li class="nav-item"><a href="#">Mobile phones</a></li>
                    <li class="nav-item"><a href="#">House & Apartments</a></li>
                    <li class="nav-item"><a href="#">Scooters</a></li>
                    <li class="nav-item"><a href="#">Commercial vehicles</a></li>
                    <li class="nav-item"><a href="#">Motorcycles</a></li>
                    <li class="nav-item"><a href="#">House & Apartments</a></li>
                    <li class="nav-item"><a href="#">Scooters</a></li>
                    <li class="nav-item"><a href="#">Commercial vehicles</a></li>
                    <li class="nav-item"><a href="#">Mobile phones</a></li>
                    <li class="nav-item"><a href="#">See all categorys</a></li>
                </ul>

            </div>
        </div>
    </div>
</section>