.match-title{
    color: #010101;
    font-size: 1.125em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2.375em;
}

.owner-match-itemsmain{
    float: left;
    width: 100%;
}
