<div  #shareSection>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="live_title">
            <h2>Congratulations!</h2> 
            <h4>Your offer is <span>live now</span></h4>
        </div>
    </div>  
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="share-title">share your offer</div>    
    </div>  
</div>
<div class="row">
    <div class="col-lg-12 col-md-6 col-sm-12">
        <ul class="share-social">
            <li>
                <button type="submit" class="live_primary_social" (click)="shareOnSocialNetwork('pinterest')">
                    <i class="fa fa-pinterest-p"></i> Pinterest
                </button>
            </li>
            <li>
                <button type="submit" class="live_primary_social" (click)="shareOnSocialNetwork('twitter')">
                    <i class="fa fa-twitter"></i> Twitter
                </button>
            </li>
            <li>
                <button type="submit" class="live_primary_social" (click)="shareOnSocialNetwork('facebook')">
                    <i class="fa fa-facebook"></i> Facebook
                </button>
            </li>
            <li>
                <button type="submit" class="live_primary_social" (click)="shareOnSocialNetwork('Whatsapp')">
                    <i class="fa fa-whatsapp"></i> Whatsapp
                </button>
            </li>
            <li>
                <button type="submit" class="live_primary_social" (click)="shareOnSocialNetwork('Email')">
                    <i class="fa fa-envelope-o"></i> Email
                </button>
            </li>
        </ul>        
    </div>    
</div>
</div>
<!-- <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <button type="submit" class="btn_primary_social g_width g-align-left g-semibold-mpot">
            <i class="fa fa-facebook"></i> Facebook
        </button>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <button type="submit" class="btn_primary_social g_width g-align-left g-semibold-mpot">
        <i class="fa fa-google"></i> Google
</button>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <button type="submit" class="btn_primary_social g_width g-align-left g-semibold-mpot">
        <i class="fa fa-google"></i> Google
</button>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <button type="submit" class="btn_primary_social g_width g-align-left g-semibold-mpot">
        <i class="fa fa-google"></i> Google
</button>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <button type="submit" class="btn_primary_social g_width g-align-left g-semibold-mpot">
        <i class="fa fa-google"></i> Google
</button>
    </div>
</div> -->
