.trad_items {
	background: #f6f6f6;
	padding: 3.75em 0em;
	float: left;
    width: 100%;
}
.see_more {
	a {
		font-size: 1em;
		text-decoration: underline;
		color: #000000;
	}
}

.tranding-Product {
	position: relative;
}
.tranding-Product:hover{
	cursor: pointer;
}

.tp-custom{
	color: #151515;
	font-family: "Open Sans", sans-serif;
	margin-bottom: 0px;
}

.mt-25{
	margin-top: 25px;
}

.btn-more{
	font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
    color: #000000;
}