.send-deal-owner{
	float: left;
	width: 100%;
}
.chat-user {
	float: left;
    width: 100%;
    padding: 1.875em 0em;
    border-top: 0.125em solid #ccc;
    border-bottom: 0.125em solid #ccc;
    margin: 1.25em 0em 2.188em 0em;
}
.user-area {
	float: left;
	display: inline-flex;
}
.me-box {
	h4 {
		width: 2.875em;
		height: 2.875em;
		background: #0b2239;
		color: #ffffff;
		border-radius: 1000%;
		-webkit-border-radius: 1000%;
		-moz-border-radius: 1000%;
		font-size: 0.875em;
		text-align: center;
		text-transform: uppercase;
		line-height: 2.875em;
		font-family: 'Open Sans', sans-serif;
		font-weight: normal;
	}
	.active {
		width: 0.938em;
		height: 0.938em;
		background: #50c878;
		border-radius: 100%;
		-webkit-border-radius: 1000%;
		-moz-border-radius: 1000%;
		border: 0.125em solid #ffffff;
		position: absolute;
		z-index: 9;
		margin: -0.313em 0em 0em 1.625em;
	}
}
.talking-with {	
	color: #0c2239;
    font-size: 0.875em;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    margin: 0em 0.75em 0em 1.688em;
    line-height: 2.813em;
}
.users-box {
	.user-img {
		width: 2.5em;
		height: 2.5em;
		background: #0b2239;
		border-radius: 1000%;
		-webkit-border-radius: 1000%;
		-moz-border-radius: 1000%;
		border: 0.063em solid #a6a6a6;
		object-fit: cover;
		position: relative;
	}
	.online {
		width: 0.938em;
		height: 0.938em;
		background: #949494;
		border-radius: 100%;
		-webkit-border-radius: 1000%;
		-moz-border-radius: 1000%;
		border: 0.125em solid #ffffff;
		position: absolute;
		z-index: 9;
		margin: -0.313em 0em 0em 1.625em;
	}
	.offline {
		width: 0.938em;
		height: 0.938em;
		background: #50c878;
		border-radius: 100%;
		-webkit-border-radius: 1000%;
		-moz-border-radius: 1000%;
		border: 0.125em solid #ffffff;
		position: absolute;
		z-index: 9;
		margin: -0.313em 0em 0em 1.625em;
	}
}
ul.all-users {
	display: inline-flex;
	float: left;
	li {
		display: inline-flex;
		float: left;
		margin-left: 0.938em;
	}
}
.view-all {
	.btn-primary-text {
		color: #0b2239;
		font-size: 0.875em;
		font-weight: bold;
		font-family: 'Montserrat', sans-serif;
		text-transform: capitalize;
	}
}
.count-user {
	h4 {
		width: 2.5em;
		text-align: center;
		font-size: 0.625em;
		background: #f40046;
		color: #ffffff;
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
		border-radius: 0.625em;
		-webkit-border-radius: 0.625em;
		-moz-border-radius: 0.625em;
		-webkit-box-pack: center;
		justify-content: center;
		text-align: center;
		margin: 0em auto;
	}
}


.user-list-chat{
	float: left;
}

.user-list-chat ul{
	float: left;
	margin: 0px;
	padding: 0px;
	display: inline-flex;
}

.user-list-chat ul li{
	float: left;
	margin: 0px 10px 0px 0px;
	padding: 0px;
}