.product_slider {
	padding: 13.75em 0em 0em 0em;
	float: left;
    width: 100%;
}
.can_gets {
	font-size: 1.875em;
	font-weight: bold;
	text-transform: uppercase;
	color: #7700e0;
	padding: 0em 0em 2.5em 0.313em;
}
.trad_items {
	.product-img {
		max-height: inherit;
		min-height: 11.75em;
	}
}

.title-span-small {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
	text-transform: capitalize;	
}
  