<div class="attach-offer-main">
    <div class="remove-offerattach-page"  (click)="closeDialog()">
        <span class="material-icons">close</span>
    </div>     
    <div class="attach-offer">
         <div class="att-header">
              <h4>send offer</h4>
         </div>
         <div class="att-offer-title">
              <h2>my offers</h2>
              <div class="mat-toggle-offer">
                  <mat-slide-toggle></mat-slide-toggle>
                </div>
              <h4>Matched offers</h4>
         </div>
         <div class="offer-list">
            <div class="row can_get" *ngIf="loggedInUserOffers$ | async as loggedInUserOffers">
                <ng-container *ngIf="loggedInUserOffers.length; else noOffer">
                    <div class="single-Products col-lg-2 col-md-3 col-sm-12 padding-rl" *ngFor="let offer of loggedInUserOffers">
                        <div class="product-img primary-card-155">
                            <img 
                                [src]="offer.images?.url || 'assets/images/no-image.svg'" 
                                [title]="offer.name" 
                                class="rounded img-fluid" 
                                alt="product img" />
                            <div class="img-title">
                                <h2>{{ offer.name }}</h2>
                                <h4>{{ offer.description }}</h4>
                            </div>
                            <div class="checkbox-container">
                                <span class="checkbox">
                                    <input 
                                        class="checkbox__input" 
                                        type="checkbox" 
                                        [id]="offer.offerId"
                                        [checked]="!!offer.checked ? true : false"
                                        (change)="selectedOffer($event, offer)"/>
                                    <label for="{{ offer.offerId }}"></label>
                                </span>                            
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-template #noOffer>
                    <div class="alert alert-warning fade show mt-1" role="alert">
                        <strong>You don't have any offer!</strong>
                    </div>
                </ng-template>
                
                <!-- <div class="single-Products col-lg-2 col-md-6 col-sm-12 padding-rl">
                    <div class="product-img primary-card-155">
                        <img src="assets/images/2.jpg" class="rounded img-fluid" alt="product img" />
                        <div class="img-title">
                            <h2>Timex Watch 2year old</h2>
                            <h4>I want a cycle or java tutorial</h4>
                        </div>
                        <div class="checkbox-container">
                            <span class="checkbox">
                                <input class="checkbox__input" type="checkbox" id="checkbox2"/>
                                <label for="checkbox2"></label>
                            </span>                            
                        </div>
                    </div>
                </div>
                <div class="single-Products col-lg-2 col-md-6 col-sm-12 padding-rl">
                    <div class="product-img primary-card-155">
                        <img src="assets/images/3.jpg" class="rounded img-fluid" alt="product img" />
                        <div class="img-title">
                            <h2>Timex Watch 2year old</h2>
                            <h4>I want a cycle or java tutorial</h4>
                        </div>
                        <div class="checkbox-container">
                            <span class="checkbox">
                                <input class="checkbox__input" type="checkbox" id="checkbox3"/>
                                <label for="checkbox3"></label>
                            </span>                            
                        </div>
                    </div>
                </div>
                <div class="single-Products col-lg-2 col-md-6 col-sm-12 padding-rl">
                    <div class="product-img primary-card-155">
                        <img src="assets/images/4.jpg" class="rounded img-fluid" alt="product img" />
                        <div class="img-title">
                            <h2>Timex Watch 2year old</h2>
                            <h4>I want a cycle or java tutorial</h4>
                        </div>
                        <div class="checkbox-container">
                            <span class="checkbox">
                                <input class="checkbox__input" type="checkbox" id="checkbox4"/>
                                <label for="checkbox4"></label>
                            </span>                            
                        </div>
                    </div>
                </div>
                <div class="single-Products col-lg-2 col-md-6 col-sm-12 padding-rl">
                    <div class="product-img primary-card-155">
                        <img src="assets/images/4.jpg" class="rounded img-fluid" alt="product img" />
                        <div class="img-title">
                            <h2>Timex Watch 2year old</h2>
                            <h4>I want a cycle or java tutorial</h4>
                        </div>
                        <div class="checkbox-container">
                            <span class="checkbox">
                                <input class="checkbox__input" type="checkbox" id="checkbox5"/>
                                <label for="checkbox5"></label>
                            </span>                            
                        </div>
                    </div>
                </div>
                <div class="single-Products col-lg-2 col-md-6 col-sm-12 padding-rl">
                    <div class="product-img primary-card-155">
                        <img src="assets/images/4.jpg" class="rounded img-fluid" alt="product img" />
                        <div class="img-title">
                            <h2>Timex Watch 2year old</h2>
                            <h4>I want a cycle or java tutorial</h4>
                        </div>
                        <div class="checkbox-container">
                            <span class="checkbox">
                                <input class="checkbox__input" type="checkbox" id="checkbox6"/>
                                <label for="checkbox6"></label>
                            </span>                            
                        </div>
                    </div>
                </div>
                <div class="single-Products col-lg-2 col-md-6 col-sm-12 padding-rl">
                    <div class="product-img primary-card-155">
                        <img src="assets/images/4.jpg" class="rounded img-fluid" alt="product img" />
                        <div class="img-title">
                            <h2>Timex Watch 2year old</h2>
                            <h4>I want a cycle or java tutorial</h4>
                        </div>
                        <div class="checkbox-container">
                            <span class="checkbox">
                                <input class="checkbox__input" type="checkbox" id="checkbox7"/>
                                <label for="checkbox7"></label>
                            </span>                            
                        </div>
                    </div>
                </div>
                <div class="single-Products col-lg-2 col-md-6 col-sm-12 padding-rl">
                    <div class="product-img primary-card-155">
                        <img src="assets/images/4.jpg" class="rounded img-fluid" alt="product img" />
                        <div class="img-title">
                            <h2>Timex Watch 2year old</h2>
                            <h4>I want a cycle or java tutorial</h4>
                        </div>
                        <div class="checkbox-container">
                            <span class="checkbox">
                                <input class="checkbox__input" type="checkbox" id="checkbox8"/>
                                <label for="checkbox8"></label>
                            </span>                            
                        </div>
                    </div>
                </div> -->
            </div>
         </div>
    </div>
    <div class="chat-msg-offeratt">
        <div class="msg-group-send">
            <div class="input-group-bg">
                <div class="primary-input-group">
                    <input type="text" class="primary-form-control" placeholder="Type your message" #offerMsg>
                    <div class="primary-group-append">
                        <button class="icon-btn-primary" type="button" *ngIf="selectedOffersLength || offerMsg.value.length">
                            <!-- <span class="material-icons" (click)="sendSelectedOffers()">send</span> -->
                            <div class="chat-send-btn" (click)="sendSelectedOffers()" ><img src="assets/images/chat-send-icon.png" class="img-fluid send-icon-btn"/></div> 
                        </button>
                      </div>
                </div>
            </div>                                
        </div>
    </div>     
</div>    
    
