<div class="chat-small-view-main">
    <div class="call-small-sub">
        <div class="user-section">
            <div class="audio-user-smallimg">
                <img src="assets/images/sm-dp.jpg" alt="image" />
            </div>
            <div class="user-talk-times">
                <h4>04:50</h4>
            </div>
        </div>

        <div class="call-section">
            <ul>                
                <li>
                    <div class="chat-audio-calls">
                        <div class="audio-on"><span class="material-icons"> mic</span></div>
                        <!-- <div class="audio-off"><span class="material-icons">mic_off</span></div> -->
                    </div>
                </li>
                <li>
                    <div class="chat-call-ends">
                        <!-- <div class="call-start"><span class="material-icons">call</span></div> -->
                        <div class="call-end"><span class="material-icons">call_end</span></div>
                    </div>
                </li>
                <li>
                    <div class="remove-small-page">
                        <span class="material-icons">fullscreen</span>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>