


 <!-- <div class="primary-fab-buttons">
    <div class="tooltips btn-fab" [routerLink]="['/add-new-offer']" routerLinkActive="router-link-active"><span class="material-icons add-icons">add</span>  
        <span class="tooltiptext">Add New Offer</span>
    </div>
  </div>  -->


    <div class="primary-fab-buttons">
      <div class="tooltips btn-fab" (click)="checkUserLoggedIn()">
        <span class="material-icons add-icons">add</span>
        <span class="tooltiptext">Add New Offer</span>
      </div>
    </div>