<section class="head_up gintaa-bg-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <app-userappstore></app-userappstore>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="head_profile">
                    <div class="login-start-top mb-60">
                        <h2 class="login-title">Excellent!</h2>
                        <p class="login-prar lpr-custom">Please verify the Password</p>
                    </div>

                    <div class="login_form">
                        <form #userForm="ngForm" class="login-start">
                            <div class="email-face-group">
                                <div class="user-face"><span class="material-icons">face</span></div>
                                <div class="user-email"><h2>prabiran@asconsoftech.com</h2></div>
                                <div class="email-arrow"><span class="material-icons">keyboard_arrow_down</span></div>
                            </div>

                            <div class="form_group">
                                <input class="form-control-custom" name="Password" placeholder="password" type="text" ></div>
                            <button class="btn btn_primary_nicon btn_primary g_width font-s18" type="submit" value="Submit" > sign in </button>
                        </form>
                        <h4 class="auth_term at-custom">Forgot password ?
                            <button type="submit" class="btn-style-resend resend-btn">
                                Reset
                            </button>
                        </h4>

                        <div class="social_login">
                            <h2 class="social-auth ptb-c">or sign in with</h2>
                            <div class="social-login-row social-login-inline">
                                <button type="submit" class="btn_primary_social or-btn gmr-14">
                                    <i class="fa fa-google"></i> Google
                                </button>
                                <button type="submit" class="btn_primary_social or-btn gmr-14">
                                    <i class="fa fa-facebook"></i> Facebook
                                </button>
                                <button type="submit" class="btn_primary_social or-btn">
                                    <i class="fa fa-mobile"></i> Mobile
                                </button>
                            </div>
                            <h4 class="auth-term mt-32">by joining you agree to our <a href="#">terms &
                                    policy</a> </h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section> 




